include README.md
include LICENCE.md
include INSTALL
include matejekm_gh_issue_bot/static/style.css
include matejekm_gh_issue_bot/templates/index.html
include matejekm_gh_issue_bot/content/about.md
include-recursive matejekm_gh_issue_bot/config/*
